.cc-product-box {
    padding: 0px 30px;
}

.cart66-pagination .page-numbers {
    margin-bottom: 30px;
}

.cc-twentyfourteen {
    margin-left: auto;
    margin-right: auto;
    max-width: 474px;
}

